@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root{
	--app-background: hsl(230, 36%, 4%);
	--app-text: hsl(0, 0%, 100%);
	--app-theme-primary: linear-gradient(45deg, #f56f87, #fe988b);
	--app-container-bg-primary: hsl(240, 10%, 16%);
	--app-container-text-primary: hsl(236, 6%, 50%);
	--app-container-text-primary-hover: hsl(240, 6%, 75%);
	--app-modal-btn-primary:hsl(225, 14%, 9%);
}

html, body{
	font-family: "Nunito Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	background: var(--app-background);
	color: var(--app-text);
	letter-spacing: -1%;
	text-rendering: optimizeLegibility;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
