.animate-icon {
	cursor: pointer;
	&:hover svg {
		stroke: currentColor;
		stroke-width: 2.5px;
		stroke-dasharray: 50px;
		stroke-dashoffset: 50px;
		stroke-linecap: round;
		stroke-linejoin: round;
		animation: animate-logo 1.2s ease forwards;
	}
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	background: var(--app-container-text-primary);
}

.swipeUpwards {
	animation: swipeUpwards 0.2s var(--easing) forwards;
}

.swipeDownwards {
	animation: swipeDownwards 0.2s var(--easing) forwards;
}

span.emoji {
	font-weight: 100;
}

@keyframes showDropdown {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dropdown {
	cursor: pointer;
	position: relative;
	display: inline-block;

	.dropdown-content {
		display: none;
	}

	&:hover .dropdown-content {
		display: block;
		animation: showDropdown 0.1s ease;
	}
}

.warning-enter {
	opacity: 0;
	transform: translateY(-100%);
	transition: all 0.2s var(--easing);
}

.warning-enter-active,
.warning-enter-done,
.warning-exit {
	opacity: 1;
	transform: translateY(0);
}

.warning-exit-active {
	opacity: 0;
	transform: translateY(-100%);
	transition: all 0.2s var(--easing);
}

.warning-exit-done {
	opacity: 0;
	transform: translateY(100%);
	display: none !important;
}

// React Modal Transition

.ReactModal__Overlay {
	opacity: 0;
	transform: translateY(2rem);
	transition: all 0.15s ease;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
	transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
	opacity: 0;
	transform: translateY(4rem);
}

// React Modal Styling

.ReactModal__Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: var(--modal-backdrop);
}

.ReactModal__Content {
	position: absolute;
	-webkit-overflow-scrolling: touch;
	outline: none;
	padding: 20px;
	color: var(--app-text);
	padding: 0;
	inset: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: max-content;
	height: 100%;
	max-height: 90vh;
	max-width: 90vw;
	img {
		height: 100%;
		width: 100%;
		object-fit: contain;
		border-radius: 0.5rem;
	}
}

@keyframes animate-logo {
	0% {
		stroke-dashoffset: 0px;
		fill: currentColor;
	}
	15% {
		fill: transparent;
	}
	50% {
		fill: transparent;
	}
	75% {
		stroke-width: 2.5px;
	}
	100% {
		stroke-dashoffset: 110px;
		fill: currentColor;
		stroke-width: 0;
	}
}

@keyframes swipeDownwards {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(50%);
		opacity: 0;
	}
}

@keyframes swipeUpwards {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
